<!DOCTYPE html>
<html>
<head>
	<title>Appointments</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/timeline.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
</head>
<body>
	<%include nav%>


	
	<h1>Events on <%=date.format("Do MMMM YYYY")%></h1>
	<div class="container">

		<% events.forEach(event=>{ %>
			<div class="eventdiv">
				<div><strong>Title :</strong> <%=event.title%></div>
				<div><strong>Description :</strong> <%=event.description%></div>
				<div><strong>From :</strong> <%=event.startTime%>  <strong>To :</strong> <%=event.endTime%></div>
				<div>
					<a href="/events/<%=event._id%>/edit" class="editbtn">Edit</a>
					<form action="/events/<%=event._id%>?_method=DELETE" method="POST">
						<button class="deleteBtn">Delete event</button>
					</form>
					<div class="successMsg hidden">Invite sent</div>
					<div class="failureMsg hidden">No such user !</div>
					<button class="collabBtn">Invite another user</button>
					<div class="collabDiv hidden">
							<input type="text" name="username" required="true" placeholder="Enter Username" class="usernameInput">
							<input type="text" name="eventId" class="hidden" value="<%=event._id%>">
							<button class="sendBtn">Send!</button>
					</div>
				</div>
			</div>
			<hr>
		<% }) %>
		<% if(!events.length){ %>
			<div><h2>There are no events on this day !!</h2></div>
		<% } %>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
	<script type="text/javascript">
		collabBtn=document.querySelectorAll('.collabBtn');
		sendBtn=document.querySelectorAll('.sendBtn');
		// collabDiv=document.getElementById('collabDiv');
		// usernameInput=document.getElementById('usernameInput');
		// sendBtn=document.getElementById('sendBtn');
		collabBtn.forEach(function(cb){
			cb.addEventListener("click",function(){
				this.classList.add("hidden");
				this.nextElementSibling.classList.remove("hidden")
			})			
		})

		sendBtn.forEach(function(sb){
		sb.addEventListener("click",function(){
			thi=this
			var xhttp= new XMLHttpRequest();
			xhttp.onreadystatechange=function(){
            	if (this.readyState==4&&this.status==200) {
                	if(xhttp.responseText==="0"){
                		flashErr(thi);
                	}else if(xhttp.responseText==="1"){
                		flashSuccess(thi);
                		thi.parentElement.classList.add("hidden");
                		thi.parentElement.previousElementSibling.classList.remove("hidden");
                	}
            	}	
        	}

        	xhttp.open("POST","/invite");
        	xhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");	
        	xhttp.send("from=<%=currentUser.id%>&to="+thi.previousElementSibling.previousElementSibling.value+"&id="+thi.previousElementSibling.value);
		})
		})
		function flashSuccess(thi){
			elem=thi.parentElement.previousElementSibling.previousElementSibling.previousElementSibling;	
			elem.classList.remove("hidden")
			t=setTimeout(function() {
				elem.classList.add("hidden")
				clearTimeout(t);
			}, 2000);
		}
		function flashErr(thi){
			elem2=thi.parentElement.previousElementSibling.previousElementSibling
			elem2.classList.remove("hidden")
			u=setTimeout(function() {
				elem2.classList.add("hidden")
				clearTimeout(u);
			}, 2000);
		}
	</script>
</body>
</html>