<!DOCTYPE html>
<html>
<head>
	<title>Appointments</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/timeline.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
</head>
<body>
		<!-- navbar -->
	<div class="topnav">
  		<a class="active" href="/">Home</a>
  		<a href="">Meeting invites</a>
  		<a href="">Contact</a>
  		<div class="nav-right">
  			<% if(currentUser){ %>
  			  	<a href="">Signed in as <%=currentUser.username%></a>
  				<a href="/logout">Logout</a>
  			<% }else{ %>
  				<a href="/login">Login</a>
  				<a href="/register">SignUp</a>
  			<% } %>

  			
  			
  		</div>
  		
	</div>

	
	<h1>Events on <%=date.format("Do MMMM YYYY")%></h1>
	<div class="container">

		<% events.forEach(event=>{ %>
			<div class="eventdiv">
				<div><strong>Title :</strong> <%=event.title%></div>
				<div><strong>Description :</strong> <%=event.description%></div>
				<div><strong>From :</strong> <%=event.startTime%>  <strong>To :</strong> <%=event.endTime%></div>
				<div>
					<a href="/events/<%=event._id%>/edit" class="editbtn">Edit</a>
					<form action="/events/<%=event._id%>?_method=DELETE" method="POST">
						<button>Delete event</button>
					</form>
				</div>
			</div>
			<hr>
		<% }) %>
		<% if(!events.length){ %>
			<div><h2>There are no events on this day !!</h2></div>
		<% } %>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
</body>
</html>